{% extends 'admin.html.twig' %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Albums</h1>
        <a href="{{ path('admin_album_index') }}" class="btn btn-primary">Retour</a>
    </div>

    <!-- Affichage des erreurs de formulaire -->
    {% for error in form.name.vars.errors %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'aria-label': 'Nom de l\'album'}}) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
